<!DOCTYPE html>
<html>
    <head>
        <title>Download | MusifyMe</title>
    </head>
    <body>
        <div align="center">
            <h3>Congratulations! You have generated your own music. Cheers...</h3>
        </div>
        <div align="center">
            <br>
            <form method="get" action="/download">
                <button type="submit">Download!</button>
            </form>
        </div>
    </body>
</html>