<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" 
        type="image/png" 
        href="https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjMrOe-uYjfAhUnh1QKHd5bBC8QjRx6BAgBEAU&url=https%3A%2F%2Fmagenta.tensorflow.org%2F&psig=AOvVaw1H62SpkKg3i00t6RgE00eu&ust=1544091031946073">
        <title>Home | MusifyMe</title>
    </head>
    <body>
        <div>
            <h1 align="center">MusifyMe</h1>
        </div>
        <div>
            <form align="center" method="POST" action="/upload" enctype="multipart/form-data">
                <input type="file" name="input">
                <input type="submit" value="Upload">
            </form>
        </div>
    </body>
</html>